*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: rgb(245, 203, 0);
}

h2{
    font-size: 80px;
    font-family:'Anton', sans-serif;
}

.logo{
    margin-left: 50px;
    width: 90px;
}

.primero p{
    font-size: 20px;
}
.primero{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    padding-bottom: 370px;
}

.section2{
    display: flex;
    background-color: rgb(224, 224, 224);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    box-shadow: 10px 10px 30px 0px rgb(122, 123, 123);
    height: 500px;
}

.section3{
    padding-top: 450px;
    padding-bottom: 700px;
}

.section4{
    background-color: white;
}


.happi{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    margin-left: 80px;
}

.happi2{
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    /* text-align: justify; */
    /* justify-content: center; */
    /* margin-left: 80px; */
    /* flex-direction: row; */
}

.feliz{
    display: flex;
    align-items: center;
    margin-left: 350px;
    gap: 100px;
    
}

.grande{
    height: 280px;
}

.grande2{
    height: 280px;
}

.bot3{
    background-color: black;
    border: 0;
    padding: 10px, 20px;
}




.img2{
    float: right;
    margin-right: 100px;
    font-size: 10px;
}


h3{
    color: rgb(245, 203, 0);
    font-size: 55px;
    font-family:'Anton', sans-serif;
}

#button1{
    background-color: rgb(245, 203, 0);
    border: 0;
    padding: 10px 20px;

}

.section2 p{
    font-size: 25px;
}

a{
    display: flex;
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    font-size: 25px;
    font-family:'Anton', sans-serif;
}


nav{
    display: flex;
    justify-content: flex-end;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.imagen{
    float: left;
    margin-right: 150px;
}


p{
    padding: 20px;
    text-align: justify;
}


